.label-input {
    margin-bottom: 0;
    font-size: .95rem;
    color: var(--black);
}

.custom-input {
    border-width: 0;
    border-bottom-width: 1px;
    width: 100%;
    padding: .5rem 0;
    font-size: .9rem;
    opacity: .8;
    background-color: var(--card);
    color: var(--black);
}

.custom-input:focus {
    outline: none;
    opacity: 1;
    transition: all .2s ease;
}

.custom-input::placeholder {
    color: var(--grey);
}

/* start */
.input-container {
    position: relative;
    display: flex;
    align-items: center;
        color: var(--black);
}

input {
    flex: 1;
    padding-right: 50px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 450px) {
    .toggle-password {
        right: 0;
    }
}